<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:if condition="{slides}">
    <v:tag name="div" class="t3v-stage-slider t3v-stage-slider--{settings.layout} slider" hideIfEmpty="true">
      <f:for each="{slides}" as="slide">
        <f:if condition="{slide.link}">
          <f:then>
            <f:render partial="ContentElements/SliderContentElement/Slider/Slide/AsLink" arguments="{slide: slide, settings: settings}" />
          </f:then>

          <f:else>
            <f:render partial="ContentElements/SliderContentElement/Slider/Slide" arguments="{slide: slide, settings: settings}" />
          </f:else>
        </f:if>
      </f:for>
    </v:tag>

    <f:render partial="ContentElements/SliderContentElement/Slider/Styles" arguments="{slides: slides, data: data, settings: settings}" />
  </f:if>
</html>